#header {

    display: flex; 
    justify-content: center; /* center everything */
    align-items: center;
    margin-top: 20px;
    padding: 0 260px; /* prevent crawling on the logo */
  }

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding: 20px;
}

.logo {
    position: absolute;
    left: 20px;
    margin-left: 20px;
    cursor:crosshair;
}

.topNav {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-left: 40px;
}

.topLi {
    display: inline-block;
    justify-content: space-between;
    padding: 10px 90px;
}

.topLi a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-decoration: none;
    color: #1B264F;
}

.topLi a:hover {
    color: #E63462;
    cursor: crosshair;
}


.main {
    display: grid;
    justify-content: space-between;
    align-content: center;
    padding-top: 300px;
}

.containerGrid { 
    /*display: grid;*/
    display: flex;
    justify-content: space-between;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 40px; 
    padding-left: 30%;
    padding-right: 30%;

}

.profilePicture {
    width: 150px;
    justify-content: space-between;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    cursor: crosshair;

}

.textBody {
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;

}


footer {
    position: absolute;

    display: flex;
    height: 30px;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomLi {
    display: inline-block;
    justify-content: space-between;
    padding: 100px 120px;
    margin-bottom: 10px;
}

.bottomLi a{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-decoration: none;
    color: #1B264F;
}

.bottomLi a:hover {
    color: #8383D8;
    cursor: crosshair;
}


body {
 
    background-color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}